@import url(reset.css);

body {
	background-color:#e5e5e5;
	font-family: Helvetica;
}

.crypto {
	margin:5vh 5vw;
}

h1 {
	margin-top:2vh;
	font-weight: bold;
	font-size:1.5rem;
	line-height: 1.7rem;
}

h2 {
	font-size:1.2rem;
	line-height: 1.5rem;
}

.red {
	background-color:#cf021c;
	width:;
	height:5vh;
	margin: 1vh 0;
	border: solid 1px grey;
}

.blue {
	background-color:#4990e3;
	width:;
	height: 5vh;
	margin: 1vh 0;
	border: solid 1px grey;
}

.green {
	background-color:#4ae2ba;
	width:;
	height: 5vh;
	margin: 1vh 0;
	border: solid 1px grey;
}
